/**** variables ****/
:root {
  --color-1: #f8f8f8;
  --color-2: #ffffff;
  --color-3: #dcdcdc;
  --color-4: #333333;
  --color-5: #000000;
  --color-6: #a8a8a8;
  --color-7: #555555;
  --color-8: #8b8b8b;


  --color-11: #113362;
  --color-12: #0000ff;
  --color-13: #ddeeff;
  --color-14: #ccebdd;

  --color-21: #9eeaf9;
  --color-22: #0000c3;
  --color-23: #00007a;

  --error-color: #ff0019;
  --success-color: #009b00;

  --ff-main: Raleway, Helvetica, Calibri, Arial, sans-serif;


  @font-face {
    font-family: Libre Baskerville;
    src: url("../css/font/LibreBaskerville-Bold.ttf");
    src: url("../css/font/LibreBaskerville-Italic.ttf");
    src: url("../css/font/LibreBaskerville-Regular.ttf");
  }

  .libre-baskerville-regular {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .libre-baskerville-bold {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .libre-baskerville-regular-italic {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: italic;
  }
  
}

/**** accessibility ****/

.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

/**** typography and spacing ****/
body {
  font-family: var(--ff-main);
  line-height: 1.5;
  background-color: var(--color-1);
  margin: auto;
  color: var(--color-5);
}

.font-italic {
  font-style: italic;
}

.py-6 {
  padding-top: 6rem !important;
  padding-bottom: 6rem !important;
}

.py-7 {
  padding-top: 7rem !important;
  padding-bottom: 7rem !important;
}

.container.shadow-wrap {
  background-color: var(--color-2);
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5 !important;
}

a {
  color: var(--color-22);
  text-decoration: underline;
  text-underline-offset: 0.25em;
}

/**** header ****/
.banner {
  text-align: center;
  padding: 1rem;
}

.banner>h1 {
  letter-spacing: 4px;
}

/**** footer ****/
.top-footer {
  border-top: 1px solid var(--color-3);
  padding: 1.5rem 0;
  background-color: var(--color-2);
}

hr {
  border-top: medium double var(--color-4);
}

/**** copyright ****/

#footer-image {
  background-image: url("../images/big-sur.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--color-5);
  height: 150px;
  border-top: inset 2px var(--color-6);
}

#footer-image>p {
  font-size: 12px;
  padding-top: 1rem;
}

/**** navbar ****/

.navbar-nav .nav-link,
.navbar-nav .dropdown-item {
  color: var(--color-7);
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 10px 25px !important;
  font-size: 14px;
}

.navbar-nav .nav-item {
  border-right: none;
}

.nav-link.nav-link-size {
  color: var(--color-2);
}

nav {
  background-color: var(--color-2) !important;
  box-shadow: 0 0 8px 2px var(--color-8);
}

@media (min-width: 1200px) {
  .navbar-nav .nav-item {
    border-right: solid 1px var(--color-6);
  }
}

.navbar {
  padding: 0;
}

.nav-link.active,
.dropdown-item.active {
  font-weight: 600;
  color: var(--color-5) !important;
  background-color: var(--color-2);
  text-decoration: underline;
  text-underline-offset: 0.25em !important;
}

.navbar-toggler {
  background-color: var(--color-1);
  border: inset 1px var(--color-5);
}

.dropdown-menu.show {
  margin-top: 0 !important;
  border-radius: 0;
}

@media (max-width: 992px) {
  .dropdown-item {
    white-space: normal !important;
  }
}


.navbar-nav>li>a:hover,
.navbar-nav>li>button:hover,
.navbar-nav>li>div>a:hover,
.log-input:hover {
  background-color: var(--color-7);
  color: var(--color-2);
  text-decoration: underline;
  text-underline-offset: 0.25em !important;
}

/**** footer navbar ****/

.navbar-footer:hover,
.navbar:focus {
  background-color: var(--color-5) !important;
  text-decoration: underline;
  text-underline-offset: 0.25em !important;
}

/**** hero banner ****/

.bg-body-tertiary {
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-img-home {
  background-image: url("../images/monterey_bay.png");
}

.bg-img-conference-2024 {
  background-image: url("../images/rising-tide.png");
}

.bg-img-registration {
  background-image: url("../images/portola-plaza-sunset.png");
}

.bg-img-activity {
  background-image: url("../images/mosaic-monterey.png");
}

.bg-img-history {
  background-image: url("../images/activity.png");
}

.bg-img-memories {
  background-image: url("../images/bg-img-memories.png");
}

.bg-img-meetings {
  background-image: url("../images/bg-img-meetings.png");
}

.bg-img-committee {
  background-image: url("../images/bg-img-committee.png");
}

.bg-img-logoContest {
  background-image: url("../images/logo_contest_banner.png");
}

.bg-img-contactUs {
  background-image: url("../images/contact_us_banner.png");
}

.bg-img-helpingHands {
  background-image: url("../images/helping_hands_banner.png");
}

.bg-img-privacy {
  background-image: url("../images/bg-img-privacy.png");
}

.bg-img-access {
  background-image: url("../images/accessibility_laptop_workflow.png");
}

.bg-img-upcoming {
  background-image: url("../images/leprechaun.png");
}

.bg-img-sitemap {
  background-image: url("../images/sitemap-banner.png");
}

.bg-img-login {
  background-image: url("../images/blue-orange-banner.png");
}

.bg-img-partner {
  background-image: url("../images/bg-img-partner.png");
}

.bg-img-success {
  background-image: url("../images/bg-img-success.png");
}

.bg-img-update {
  background-image: url("../images/bg-img-update.png");
}

.bg-img-insert {
  background-image: url("../images/pfeiffer-big-sur.png");
}

.bg-img-audio-trans {
  background-image: url("../images/bg-img-audio-trans.png");
}

.bg-img-marathon-2024{
  background-image: url("../images/zen-stones-sunrise-beach-ai.png");
}

.bg-img-participation{
  background-image: url("../images/gratitude-rock.png");
}

.shadow-wrap {
  box-shadow: 0 0 8px 2px var(--color-8);
}

.hero-text-border {
  border: solid 1px var(--color-4);
}

.btn-primary {
  --bs-btn-bg: var(--color-12);
  --bs-btn-hover-bg: #0070b6;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
}

.btn-primary:hover{
  text-decoration: underline;
  text-underline-offset: 0.25em !important;
}

/**** card section one ****/

.card {
  border-radius: 0 !important;
}

/**** card section two ****/

.card-title {
  color: var(--color-7);
  text-transform: uppercase;
  letter-spacing: 1px;
}

/**** big book href ****/

.bb-link {
  color: var(--color-12);
  font-weight: bold;
  text-underline-offset: 0.25em !important;
}

.bb-link:hover,
.bb-link:focus {
  color: var(--color-12);
}

/**** maps ****/

.db-5 {
  border: solid 5px var(--color-7);
  border-style: double;
}

/**** audio controls ****/

audio {
  max-height: 100%;
  max-width: 100%;
  margin: auto;
  object-fit: contain;
}

/**** iframe -- works okay if the form pages are all similar sizes ****/

#reg-form {
  width: 100%;
  height: 100%;
  margin: 0;
}

.ratio-height {
  height: 2725px;
}

@media (min-width: 360px) {
  .ratio-height {
    height: 2700px;
  }
}

@media (min-width: 400px) {
  .ratio-height {
    height: 2525px;
  }
}

/* X-Small devices (portrait phones, less than 576px) */
@media (min-width: 468px) {
  .ratio-height {
    height: 2400px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .ratio-height {
    height: 2325px !important;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .ratio-height {
    height: 2180px;
  }
}

/**** memory form ****/
.status-msg.error {
  color: var(--error-color);
}

.status-msg.success {
  color: var(--success-color);
}


/**** sitemap ****/


ul[class^="level-"] {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

ul[class^="level-"]>.lhead {
  background: #f0f0f0;
  border-radius: 1rem 3rem !important;
  margin: 0.5rem 1rem;
  padding: 0.5rem 1rem;
}

li ul[class^="level-"] {
  margin-left: .5rem;
}

.lpage {
  background: #cff4fc;
  border-radius: 1rem 3rem !important;
  padding: 0.5rem 1rem;
  margin: 0.5rem 3rem;
}

.lpage:focus,
.lpage:hover {
  z-index: 1;
  font-weight: bold;
  color: var(--color-5);
  text-decoration: none;
  background-color: var(--color-21);
}

.lcount {
  padding: 0px 10px;
}

.last-page {
  border: none;
}

#sitemap-footer {
  padding: 1.5rem;
  text-align: center;
}

#top {
  background-color: #cff4fc;
  padding-bottom: 5rem;
  color: #055160;
}

.olt-5 {
  /* over lap top */
  margin-top: -5rem;
}


/**** registration form ****/

.big-star {
  font-weight: bolder;
}

/* https://stackoverflow.com/questions/70536735/override-bootstrap-5-fieldset-style */

fieldset {
  all: revert;
}

legend {
  float: none;
  width: unset;
  padding: unset;
}

.reg-form-label {
  margin: 0.5rem 0rem;
}

::placeholder {
  color: var(--color-13);
  font-style: italic;
}

/**** admin ****/

#oneBtn {
  float: right;
  margin-right: 1.5rem;
}

/**** datatable ****/
.dataTables_wrapper .dataTables_filter input {
  margin: 0 0 1rem 0.25rem !important;
}

/**** back to top ****/

.back-to-top {
  position: fixed;
  cursor: pointer;
  bottom: 16px;
  right: 16px;
  left: auto;
  opacity: 0;
  transition: opacity .5s linear;
  z-index: 11;
  background-color: var(--color-11);
}

/**** content skip ****/

.btn-skip {
  font-weight: 600;
  cursor: pointer;
  position: absolute;
  z-index: 21;
  left: 0.5em;
  right: auto;
  top: 0.5em;
  opacity: 1;
  transition: transform 0.1875s ease-out;
  background-color: var(--color-11);
}

.btn-skip:not(:focus):not(:hover) {
  transform: translateY(-4em);
  opacity: 0;
}

/**** mbar history ****/

.text-body-secondary {
  color: var(--color-7) !important;
}

/**** iframe ****/
iframe {
  width: 100%;
}

/**** 2022/2024 con ****/

.white-on-black {
  color: var(--color-2);
  background-color: var(--color-5);
}


.row.g-0.mb-4 [class^="col"] {
  border: 1px solid var(--color-5);
  padding: 0.5rem 0.25rem;
}

@media (max-width: 768px) {
  .row.g-0.mb-4 [class^="col"].top {
    border-bottom: 0 !important;
    padding: 0.25rem 0.25rem 0 !important;
  }

  .row.g-0.mb-4 [class^="col"].middle {
    border-top: 0 !important;
    border-bottom: 0 !important;
    padding: 0 0.25rem 0.75rem !important;
  }

  .row.g-0.mb-4 [class^="col"].bottom {
    border-top: 0 !important;
    padding: 0 0.25rem 0.25rem!important;
  }
}

/**** 2024 ****/

.feature-speaker {
  background-color: var(--color-13);
}

.cell-color {
  background-color: var(--color-3);
}

.marathon-cell {
  background-color: var(--color-14);
}

/**** tables ****/

caption {
  color: var(--color-7) !important;
}

/**** pdf and transcripts ****/

.btn-outline-primary {
  color: var(--color-12);
  border-color: var(--color-12);
  border-width: medium;
}

.indent {
  text-indent: 2rem;
}

/**** accordion class ***/

.accordion-button:hover,
.accordion-button:active,
.accordion-button:focus {
  text-decoration: underline !important;
  text-underline-offset: 0.25em !important;
}

/**** List types ****/
ul.ul-circle {
  list-style-type: circle;
}

ul.ul-square {
  list-style-type: square;
}

ol.ol-alpha {
  list-style-type: lower-alpha;
}

ol.ol-roman {
  list-style-type: lower-roman;
}

ol>li, ol>li>ul>li{
  margin-bottom: 0.5em;
}

/**** text indent ****/

.ti-1 {
  text-indent: 2rem;
}

.ti-2 {
  text-indent: 4rem;
}

.ti-3 {
  text-indent: 6rem;
}

.ti-4 {
  text-indent: 8rem;
}

dd {
  display: block;
  margin-left: 2em;
}

dt {
  display: block;
  font-weight: 500;
  margin-top: 1.5em;
}

dl {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}

/**** schedule link on light blue bg ****/
.d-link{
  color: var(--color-22);
  text-underline-offset: 0.25em !important;
}

/****** text rotate ******/
.tall-angled-text{
  rotate: -10deg;
  font-style: oblique;
  color: var(--success-color);
}
