/**** variables ****/
:root {
    --color-1: #f8f8f8;
    --color-2: #ffffff;
    --color-3: #dcdcdc;
    --color-4: #333333;
    --color5: #000000;

    --ff-main: Montserrat, Helvetica, Calibri, Arial, sans-serif;
}


/**** typography ****/
body {
    font-family: var(--ff-main);
    line-height: 1.5;
    background-color: var(--color-1);
    margin: auto;
    color: var(--color-5);
}

/**** hero banner ****/
.banner {
    text-align: center;
    padding: 1rem;
}

.banner>h1 {
    font-size: 25px;
    letter-spacing: 4px;
    padding: 3.5rem 0 0 0;
}

/**** footer ****/
footer {
    border-top: 1px solid var(--color-3);
    padding: 1.5rem 0;
    background-color: var(--color-2);
}

#statement {
    font-weight: 700;
    font-size: 20px;
    padding: 1rem 1rem 0 0;
}

hr {
    border-top: medium double var(--color-4);
}

/**** copyright ****/

#footer-image {
    background-image: url("../images/big-sur.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--color-4);
    height: 150px;
    border: solid 2px var(--color-1);
}

#footer-image>p {
    font-size: 10px;
}

